:host {
  width: 100%;
  display: block;
  padding: 0.7em;
  text-align: center;
  font-size: 2em;
  box-shadow: 0 0 5px 1px #0004;
  box-sizing: border-box;
  margin-bottom: 1em;
  color: var(--light-primary);
  background: var(--gradient-accent);
}

.toggle {
  position: absolute;
  right: 1em;
  user-select: none;
}
