:host {
  width: 100%;
  display: block;
  padding: 0.7em;
  text-align: center;
  font-size: 2em;
  box-shadow: var(--shadow);
  box-sizing: border-box;
  margin-bottom: 0;
  color: var(--light-primary);
  background: var(--gradient-accent);
}

.lightswitch {
  width: 20px;
  stroke: white;
  fill: none;
  position: absolute;
  right: 1em;
  transition: top 0.5s cubic-bezier(1,-0.75,.4,1);
}
