<div *ngIf="project === undefined; else projectExists">
  <h1>There's nothing here.</h1>
  <h3>There's no project on the site with that name. Sorry about that.</h3>
  <a routerLink="/">Go home</a>
</div>
<ng-template #projectExists>
  <h1>{{project?.displayName}}</h1>
  <div class="button" (click)="redirectToDownload()">
    <h4 class="button">Download</h4>
    <p>Version {{project?.lastRelease}}</p>
  </div>
  <div>
    <span *ngFor="let link of Object.entries(project?.links)">{{link[0]}}</span>
  </div>
  <div [innerHtml]="project?.longDescription"></div>
</ng-template>
