<h2>Set your pronouns</h2>
<h3>Complete the sentences:</h3>

<form>
    <label *ngFor="let field of fields" [for]="field.property">
        {{field.prefix}}
        <input type="text" [id]="field.property" [name]="field.property" [placeholder]="field.default" [(ngModel)]="set[field.property]" pronounSet required>
        {{field.suffix}}
    </label>
    <label for="plural">Plural <input type="checkbox" id="plural" name="plural" [(ngModel)]="set.plural">
        <div>{{set.subjective}} {{set.plural ? "are" : "is"}} using a {{set.plural ? "plural" : "singular"}} pronoun set.</div>
    </label>
    
    <div class="output error">Fill out all the boxes. Only use letters.</div>
    <code class="output success">/pronouns set {{setToString(set)}}</code>
</form>
